*.gcno
*.pyc
*.la
*.swp
*~
.deps
.dirstamp
.libs
*.stamp
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.hpp.in
config.log
config.rpath
config.status
config.sub
configure
cppcheck-undo.log
cppcheck.log
depcomp
*.ui.h
files/ui/ressources.xml
install-sh
*.*o
libtool
ltmain.sh
m4
missing
po/*.gmo
po/*.sed
po/*.sin
po/*header*
po/2lgc_code.pot
po/Makefile.in.in
po/Makevars
po/POTFILES
po/POTFILES.in
po/Rules-quot
po/stamp-po
src/gtk/codegui
src/lib/gtkressources.cpp
stamp-h1
test-driver
*.log
*.gcda
*.trs
src/test/scenarii/action1
src/test/scenarii/action2
src/test/scenarii/undomanager1
src/test/scenarii/undomanager2
src/test/scenarii/undomanager3
src/test/scenarii/undomanager4
src/test/scenarii/undomanager5
src/test/static/projet
*.xml
src/test/coverage
doxyfile.stamp
docs/libprojet
docs/libsouvenir
out_html
src/gtk/gtk-ressources.cpp
cov-2LGC.tgz
cov-int
massif.out.*
2lgc_code-?.?.?*
build/vs2015/*.vcxproj.user
build/vs2015/Debug
build/vs2015/*.sdf
*.cpp.test
*.test.cpp
vgcore.*
