files/uml/*.hpp
*~
*.swp
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.guess
config.rpath
config.sub
depcomp
files/ui/*.ui.h
install-sh
ltmain.sh
m4
missing
po/*header*
po/*.sed
po/*.sin
test-driver
po/Makefile.in.in
po/Makevars
po/POTFILES.in
po/Rules-quot
src/*/*.hpp
Makefile
Makefile.in
.deps
config.log
config.status
configure
docs/Doxyfile
files/ui/ressources.xml
libtool
po/2lgc_code.pot
po/POTFILES
po/*.gmo
po/stamp-po
src/*/.libs
src/lib/gtkressources.cpp
stamp-h1
config.hpp.in
cppcheck-undo.log
cppcheck.log
lib*_la-*.*o
*.la
config.h.in
*.gcno
