*.gcno
*.la
*.swp
*~
.deps
.dirstamp
.libs
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.hpp.in
config.log
config.rpath
config.status
config.sub
configure
cppcheck-undo.log
cppcheck.log
depcomp
docs/Doxyfile
files/ui/*.ui.h
files/ui/ressources.xml
files/uml/*.hpp
install-sh
*.*o
libtool
ltmain.sh
m4
missing
po/*.gmo
po/*.sed
po/*.sin
po/*header*
po/2lgc_code.pot
po/Makefile.in.in
po/Makevars
po/POTFILES
po/POTFILES.in
po/Rules-quot
po/stamp-po
src/lib*/*.hpp
src/gui/codegui/codegui
src/gui/codegui/codegui-main.o
src/gui/codegui/test.xml
src/lib/gtkressources.cpp
stamp-h1
test-driver
*.log
*.gcda
*.trs
src/test/scenarii/action1
src/test/scenarii/undomanager1
src/test/scenarii/undomanager2
src/test/static/projet
*.xml
src/test/coverage
doxyfile.stamp
docs/html
docs/latex
docs/man
out_html
